.Home {
  padding: 1% 15%;
  background-color: #ffffff;
  height: 90vh;
}

.Home h2 {
  color: var(--color-4);
}

.Home ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.new {
  background-color: var(--color-1);
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
