.Post {
  background-color: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  width: 100%;
  border-radius: 10px;
  color: #ffffff;
  height: 100%;
}

.post-info {
  padding: 1% 4%;
  width: 60%;
  border-right: 4px solid #ffffff;
}

.post-info-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.post-info-user div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.post-info-user div h3 {
  color: var(--color-4);
}

.post-info-user div p {
  color: var(--color-4);
  font-size: 1.1rem;
}

.post-info-artist {
  display: flex;
  flex-direction: column;
}

.post-info-artist div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-info-artist div h4 {
  color: var(--color-4);
}

.post-info-artist div p {
  color: var(--color-4);
  font-size: 1rem;
}

.comment-section {
  padding: 2%;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-section h4 {
  color: var(--color-4);
  margin-bottom: 4px;
}

.comment-section .comments {
  background-color: rgb(108,117,125, 0.2);
  
  padding: 6%;
  height: 110px; 
  overflow: auto; 
  text-align:justify; 
  display: flex;
  flex-direction: column;
}

.comments .comment {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2%;
}

.comment-text {
  text-align: left;
}

.comment-user {
  text-align: right;
  color: var(--color-4);
}

.comment-box {
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-box input {
  color: #ffffff;
  padding: 1% 2%;
  background-color: #ffffff4d;
  width: 50%;
  border: none;
  border-radius: 4px;
}

.cmnt {
  align-self: flex-end;
  padding: 2%;
  width: 30%;
  border-radius: 25px;
  border: none;
  color: var(--color-4);
  cursor: pointer;
}

.cmnt:focus {
  outline: none;
  opacity: 0.7;
}