.PostForm {
  padding: 5% 30%;
}

.PostForm form {
  background-color: var(--color-1);
  border-radius: 8px;
  padding: 6% 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PostForm form h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 4%;
}

.PostForm form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid #ffffff4d;
}

.PostForm form label {
  color: #ffffff;
  font-size: 1.3rem;
}

.PostForm form input {
  color: #000000;
  padding: 0.5% 2%;
  background-color: #ffffff4d;
  border: none;
  border-radius: 4px;
}

.PostForm form .post {
  margin-top: 4%;
  align-self: flex-end;
  width: 40%;
  border-radius: 25px;
  border: none;
  color: var(--color-4);
}

