.Signin {
  padding: 5% 30%;
}

.Signin form {
  background-color: var(--color-1);
  border-radius: 8px;
  padding: 6% 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Signin form h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 4%;
}

.Signin form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid #ffffff4d;
}

.Signin form label {
  color: #ffffff;
  font-size: 1.3rem;
}

.Signin form input {
  color: #000000;
  padding: 0.5% 2%;
  background-color: #ffffff4d;
  width: 40%;
  border: none;
  border-radius: 4px;
}

.Signin form .post {
  margin-top: 4%;
  margin-bottom: 4%;
  align-self: flex-end;
  width: 40%;
  border-radius: 25px;
  border: none;
  color: var(--color-4);
}

.Signin form p {
  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2%;
}