:root {
  --color-1: #160F29;
  --color-2: #246A73;
  --color-3: #368F8B;
  --color-4: #F3DFC1;
  --color-5: #DDBEA8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-3);
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p , a {
  font-size: 1.3rem;
}

.btn {
  padding: 10px 16px;
  font-size: 1.1rem;
  width: auto;
  cursor: pointer;
  border: none;
}
/* 
.container {
  padding: 0 10%;
} */